/* ==================== ADD TASK ==================== */

.add-task {
  display: flex;
  gap: 8px;
  margin-bottom: 18px;
}

.add-task input {
  flex: 1;
  min-width: 0;

  border: 1px solid #242630;
  background: #111218;
  color: white;

  padding: 12px 14px;
  border-radius: 9px;
  outline: none;

  font-size: 12px;
}

.add-task input:focus {
  border-color: #7156d9;
}

.add-task select {
  border: 1px solid #242630;
  background: #111218;
  color: #aaa;

  padding: 0 10px;
  border-radius: 9px;
  outline: none;
}

.add-task button {
  border: 0;
  border-radius: 9px;
  padding: 0 16px;

  background: #7657e8;
  color: white;

  font-weight: 600;
}

.add-task button:hover {
  background: #876af4;
}
